body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /* Code added by Jayanti - Start*/
  #main-section {
  margin-left: 50px;
  padding-left: 100px;
  text-emphasis-color: white;
  }
  /* Code added by Jayanti - End*/
